* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee;
}

nav{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 50px  rgba(0, 0, 0, 0.2);
    height: 70px;
    display: flex;
    align-items: center;
}

#logo {
    height: 80%;
    padding: 5px;
    margin-left: 15px;
}

#logo img {
    height: 100%;
}

main {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
}

.contenedor-candidatos {
    margin: 15px;
    background-color: white; 
    border-radius: 9px;
}

#lista-candidatos {
    margin: 15px;
    width: 60%;
    height: 500px;
}

#crear-candidatos {
    padding: 30px;
    width: 40%;
    height: 100%;
    box-shadow: 3px 3px 10px  rgba(0, 0, 0, 0.2);
}

#crear-candidatos h2 {
    text-align: center;
    color: #78B52D;
    font-weight: bolder;
}

.candidato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 3px 3px 10px  rgba(0, 0, 0, 0.2);
}

.nombre {
    border-radius: 9px;
    margin-bottom: 5px;
    width: 200px;
    height: 15px;
    background-color: #afafaf;
}

.caracteristicas {
    border-radius: 9px;

    width: 70px;
    height: 15px;
    background-color: #afafaf;
}

.botones{
    display: flex;
}

.boton1 {
    width: 70px;
    height: 35px;
    background-color: #afafaf;
    border-radius: 4px;
    margin: 0px 5px;
}

.info-personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre-completo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
}

.nombre-completo input {
    width: 42%;
    padding: 10px 15px;
    border-radius: 4px;
    border: solid 1px grey;
}

#email {
    padding: 10px 15px;
    border-radius: 4px;
    border: solid 1px grey;
    margin-bottom: 10px;
}

.outline:focus-visible{
    outline: solid 1px #78B52D;
}

#enviar {
    background-color: #679C30;
    border: none;
    width: 100%;
    padding: 15px 0px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 4px;
    cursor: pointer;
}

#enviar:hover{
    background-color: #78B52D;
}

.hoja-file {
    display: flex;
    align-items: center;
}

.asterisco {
    color: red;
}

.image-file {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: #78B52D;
    cursor: pointer;
    margin-left: 40px;
}

.image-file p {
    color: white;
    text-align: center;
}

.image-file img{
    margin-right: 10px;
    filter: invert(100%);
    width: 30px;
}

hr {
    margin: 15px 0px;
}

#number {
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid grey;
}

.salario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
label {
    display: flex;
}

.input-num {
    display: flex;
    align-items: center;
}

.input-num p{
    margin-right: 5px;
}

#select {
    width: 212px;
    padding: 8px 10px;
    border-radius: 4px;
}

.cargo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio {
    display: flex;
    justify-content: space-around;
}

.cont-check {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.cont-check input {
    margin-right: 5px;
}

h3 {
    color: #78B52D;
}
